<head>
  <meta charset="utf-8" />
  <meta
    name="description"
    content="Unofficial Crusader Patch Website; Offering stability and bug fixes, AI & gameplay enhancements, and improving the multiplayer experience for Stronghold Crusader."
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="keywords"
    content="Unofficial Crusader Patch, Stronghold Crusader, AI enhancements, gameplay improvements, multiplayer experience"
  />
  <meta name="author" content="Unofficial Crusader Patch Team" />
  <meta property="og:title" content="Unofficial Crusader Patch" />
  <meta
    property="og:description"
    content="Offering stability and bug fixes, AI & gameplay enhancements, and improving the multiplayer experience for Stronghold Crusader."
  />
  <meta property="og:image" content="" />
  <meta property="og:url" content=" http://unofficialcrusaderpatch.com/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Unofficial Crusader Patch" />
  <meta
    name="twitter:description"
    content="Offering stability and bug fixes, AI & gameplay enhancements, and improving the multiplayer experience for Stronghold Crusader."
  />
  <meta name="twitter:image" content="" />
  <title>Unofficial Crusader Patch</title>
  <link rel="stylesheet" href="/src/css/app.css" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v6.4.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
  <link rel="icon" type="image/png" href="/UCP3-Logo-32.png" />
</head>
